<h1> Import libraries</h1>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

<h1>Load Dataset</h1>

In [7]:
import pandas as pd
import numpy as np

# Generating 1000 synthetic rows
np.random.seed(42)

df = pd.DataFrame({
    "Altitude": np.random.randint(28000, 40001, 1000),
    "Wind_Speed": np.random.randint(50, 160, 1000),
    "Pressure": np.random.randint(260, 340, 1000),
    "Temp_Gradient":np.round(np.random.uniform(2.0, 10.0, 1000), 2),
    "Wind_Shear": np.round(np.random.uniform(1.0, 12.0, 1000), 2),
    "Vertical_Acceleration": np.round(np.random.uniform(0.01, 0.25, 1000), 3),
    "Jet_Stream_Speed": np.random.randint(110, 190, 1000)
})

#Turbulence label logic (FIXED)
df["Turbulence"] = (
    (df["Wind_Shear"] > 8) |
    (df["Jet_Stream_Speed"] > 140) |
    (df["Temp_Gradient"] > 7)
).astype(int)

#Saved as CSV File
path = "/Users/aaseaansiwakoti/AI/Coursework/turbulence_dataset.csv"
df.to_csv(path, index=False)

path

'/Users/aaseaansiwakoti/AI/Coursework/turbulence_dataset.csv'

<h1>Show Dataset 1000 Rows</h1>

In [8]:
df.head(500)

,Altitude,Wind_Speed,Pressure,Temp_Gradient,Wind_Shear,Vertical_Acceleration,Jet_Stream_Speed,Turbulence
0,35270,117,315,5.90,1.57,0.024,173,1
1,28860,59,280,2.27,7.04,0.018,112,0
2,33390,116,306,2.50,4.16,0.104,178,1
3,33191,154,339,9.25,4.37,0.177,132,1
4,39964,158,318,3.11,4.88,0.056,162,1
...,...,...,...,...,...,...,...,...
495,37662,75,329,3.60,10.87,0.129,114,1
496,28580,107,300,2.87,7.85,0.079,123,0
497,35004,78,327,8.83,11.71,0.186,139,1
498,38486,158,272,5.51,6.12,0.016,113,0
499,36130,147,308,8.78,10.32,0.150,148,1

In [9]:
df.tail(500)

,Altitude,Wind_Speed,Pressure,Temp_Gradient,Wind_Shear,Vertical_Acceleration,Jet_Stream_Speed,Turbulence
500,31147,136,319,9.14,1.69,0.236,173,1
501,32249,86,261,2.50,4.69,0.052,134,0
502,29679,124,319,9.07,1.74,0.123,137,1
503,31506,119,264,5.59,11.73,0.032,185,1
504,35253,67,303,6.08,9.99,0.160,175,1
...,...,...,...,...,...,...,...,...
995,32632,71,313,6.57,2.64,0.219,185,1
996,34288,124,336,8.66,3.95,0.031,138,1
997,31596,76,329,9.25,4.97,0.196,112,1
998,39475,116,303,2.10,5.49,0.213,166,1
999,34168,130,332,7.39,8.48,0.054,139,1

<h1>Dataset Information</h1>

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Altitude               1000 non-null   int64
 1   Wind_Speed             1000 non-null   int64
 2   Pressure               1000 non-null   int64
 3   Temp_Gradient          1000 non-null   float64
 4   Wind_Shear             1000 non-null   float64
 5   Vertical_Acceleration  1000 non-null   float64
 6   Jet_Stream_Speed       1000 non-null   int64
 7   Turbulence             1000 non-null   int64
dtypes: float64(3), int64(5)
memory usage: 62.6 KB

<h1>Dataset Description</h1>

In [11]:
df.describe()

,Altitude,Wind_Speed,Pressure,Temp_Gradient,Wind_Shear,Vertical_Acceleration,Jet_Stream_Speed,Turbulence
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,34085.771000,103.958000,298.080000,6.029850,6.381110,0.128751,150.245000,0.853000
std,3391.665798,31.975532,23.383464,2.325481,3.146745,0.068947,23.390513,0.354283
min,28004.000000,50.000000,260.000000,2.000000,1.010000,0.010000,110.000000,0.000000
25%,31294.750000,76.750000,278.000000,4.120000,3.660000,0.068750,130.000000,1.000000
50%,34117.000000,103.000000,296.500000,6.040000,6.310000,0.128500,151.000000,1.000000
75%,36902.000000,132.000000,319.000000,8.075000,9.102500,0.188000,170.250000,1.000000
max,39990.000000,159.000000,339.000000,9.980000,12.000000,0.249000,189.000000,1.000000